.header {
    background-color: #333;
    color: #fff;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
  }
  
  .left-menu {
    background-color: #ddd;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 2;
  }
  
  .main-content {
    background-color: #f0f0f0;
    width: calc(100% - 200px);
    height: 100%;
    position: absolute;
    top: 50px;
    left: 200px;
    z-index: 1;
  }
  